In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para ense√±ar todas las columnas del df

import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

In [3]:
from selenium import webdriver

## Importando csv

In [84]:
games = pd.read_csv('../data/data_games/games.csv')
games_detail = pd.read_csv('../data/data_games/games_details.csv')
players = pd.read_csv('../data/data_games/players.csv')
ranking = pd.read_csv('../data/data_games/ranking.csv')
teams = pd.read_csv('../data/data_games/teams.csv')

cities = pd.read_csv('../data/data_scraping/cities.csv')
player_size= pd.read_csv('../data/data_scraping/player_dim.csv')

### Games

In [86]:
games.columns=[c.lower() for c in games.columns]

In [87]:
games.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   game_date_est     25796 non-null  object
 1   game_id           25796 non-null  int64
 2   game_status_text  25796 non-null  object
 3   home_team_id      25796 non-null  int64
 4   visitor_team_id   25796 non-null  int64
 5   season            25796 non-null  int64
 6   team_id_home      25796 non-null  int64
 7   pts_home          25697 non-null  float64
 8   fg_pct_home       25697 non-null  float64
 9   ft_pct_home       25697 non-null  float64
 10  fg3_pct_home      25697 non-null  float64
 11  ast_home          25697 non-null  float64
 12  reb_home          25697 non-null  float64
 13  team_id_away      25796 non-null  int64
 14  pts_away          25697 non-null  float64
 15  fg_pct_away       25697 non-null  float64
 16  ft_pct_away       25697 non-null  float64
 17  fg3_pct_away      25697 non-null  float64
 18  ast_away          25697 non-null  float64
 19  reb_away          25697 non-null  float64
 20  home_team_wins    25796 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 6.9 MB

### Games detail

In [71]:
games_detail.columns=[c.lower() for c in games_detail.columns]

In [72]:
games_detail.head()

,game_id,team_id,team_abbreviation,team_city,player_id,player_name,nickname,start_position,comment,min,fgm,fga,fg_pct,fg3m,fg3a,fg3_pct,ftm,fta,ft_pct,oreb,dreb,reb,ast,stl,blk,to,pf,pts,plus_minus
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,F,NaN,36:22,4.0,10.0,0.400,3.0,8.0,0.375,4.0,4.0,1.00,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,Jaden,F,NaN,23:54,6.0,8.0,0.750,1.0,3.0,0.333,1.0,1.0,1.00,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,25:17,4.0,9.0,0.444,1.0,3.0,0.333,6.0,8.0,0.75,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,Malik,G,NaN,30:52,4.0,9.0,0.444,4.0,9.0,0.444,0.0,0.0,0.00,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,NaN,33:46,3.0,13.0,0.231,1.0,6.0,0.167,7.0,7.0,1.00,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0

In [56]:
games_detail[games_detail.PLAYER_NAME == "LeBron James"]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
405,22101004,1610612747,LAL,Los Angeles,2544,LeBron James,LeBron,C,NaN,35:42,18.0,25.0,0.720,6.0,9.0,0.667,8.0,8.0,1.000,0.0,7.0,7.0,6.0,0.0,1.0,3.0,3.0,50.0,22.0
568,22100985,1610612747,LAL,Los Angeles,2544,LeBron James,LeBron,C,NaN,45:16,9.0,26.0,0.346,1.0,9.0,0.111,4.0,6.0,0.667,2.0,12.0,14.0,12.0,1.0,4.0,5.0,1.0,23.0,-17.0
1045,22100973,1610612747,LAL,Los Angeles,2544,LeBron James,LeBron,NaN,DND - Injury/Illness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1445,22100959,1610612747,LAL,Los Angeles,2544,LeBron James,LeBron,C,NaN,38:33,19.0,31.0,0.613,6.0,11.0,0.545,12.0,13.0,0.923,2.0,8.0,10.0,3.0,0.0,1.0,4.0,0.0,56.0,13.0
1837,22100945,1610612747,LAL,Los Angeles,2544,LeBron James,LeBron,F,NaN,37:04,8.0,18.0,0.444,2.0,9.0,0.222,8.0,10.0,0.800,1.0,7.0,8.0,4.0,0.0,1.0,4.0,2.0,26.0,-27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643786,11200095,1610612748,MIA,Miami,2544,LeBron James,NaN,NaN,NaN,29,2.0,8.0,0.250,1.0,4.0,0.250,5.0,6.0,0.833,0.0,4.0,4.0,8.0,2.0,1.0,2.0,2.0,10.0,NaN
644488,11200069,1610612748,MIA,Miami,2544,LeBron James,NaN,NaN,NaN,27,6.0,11.0,0.545,0.0,1.0,0.000,1.0,2.0,0.500,0.0,4.0,4.0,8.0,4.0,0.0,2.0,1.0,13.0,NaN
645104,11200043,1610612748,MIA,Miami,2544,LeBron James,NaN,NaN,NaN,20,5.0,8.0,0.625,0.0,1.0,0.000,1.0,2.0,0.500,0.0,3.0,3.0,4.0,3.0,0.0,0.0,0.0,11.0,NaN
645537,11200028,1610612748,MIA,Miami,2544,LeBron James,NaN,NaN,NaN,26,6.0,11.0,0.545,0.0,0.0,0.000,8.0,9.0,0.889,2.0,3.0,5.0,5.0,1.0,0.0,2.0,1.0,20.0,NaN
645861,11200008,1610612748,MIA,Miami,2544,LeBron James,NaN,NaN,NaN,23,5.0,12.0,0.417,0.0,1.0,0.000,0.0,2.0,0.000,0.0,6.0,6.0,6.0,1.0,0.0,2.0,0.0,10.0,NaN

### Players

In [73]:
players.columns=[c.lower() for c in players.columns]

In [74]:
players.head()

        player_name     team_id  player_id  season
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019
3  Donovan Mitchell  1610612762    1628378    2019
4       Mike Conley  1610612762     201144    2019

In [76]:
players[players.player_name == "LeBron James"]

       player_name     team_id  player_id  season
199   LeBron James  1610612747       2544    2019
1066  LeBron James  1610612747       2544    2018
1387  LeBron James  1610612739       2544    2017
2096  LeBron James  1610612739       2544    2016
2771  LeBron James  1610612739       2544    2015
3452  LeBron James  1610612739       2544    2014
4136  LeBron James  1610612748       2544    2013
4802  LeBron James  1610612748       2544    2012
5439  LeBron James  1610612748       2544    2011
6020  LeBron James  1610612748       2544    2010
6681  LeBron James  1610612739       2544    2009

#### Ranking

In [78]:
ranking.columns=[c.lower() for c in ranking.columns]

In [79]:
ranking.head()

,team_id,league_id,season_id,standingsdate,conference,team,g,w,l,w_pct,home_record,road_record,returntoplay
0,1610612756,0,22021,2022-03-12,West,Phoenix,67,53,14,0.791,28-8,25-6,NaN
1,1610612744,0,22021,2022-03-12,West,Golden State,68,46,22,0.676,28-7,18-15,NaN
2,1610612763,0,22021,2022-03-12,West,Memphis,68,46,22,0.676,24-10,22-12,NaN
3,1610612762,0,22021,2022-03-12,West,Utah,67,42,25,0.627,24-10,18-15,NaN
4,1610612742,0,22021,2022-03-12,West,Dallas,67,41,26,0.612,23-12,18-14,NaN

### Teams

In [80]:
teams.columns=[c.lower() for c in teams.columns]

In [81]:
teams.head()

,league_id,team_id,min_year,max_year,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

### Cities

In [82]:
c

In [83]:
cities.head()

,city,state[c],2020\ncensus,2010\ncensus,change,2020 land area,2020 population density,location
0,New York[d],New York,"8,804,190","8,175,133",+7.69%,778.3 km2,"11,312/km2",40.66¬∞N 73.93¬∞W
1,Los Angeles,California,"3,898,747","3,792,621",+2.80%,"1,216.0 km2","3,206/km2",34.01¬∞N 118.41¬∞W
2,Chicago,Illinois,"2,746,388","2,695,598",+1.88%,589.7 km2,"4,657/km2",41.83¬∞N 87.68¬∞W
3,Houston,Texas,"2,304,580","2,099,451",+9.77%,"1,658.6 km2","1,390/km2",29.78¬∞N 95.39¬∞W
4,Phoenix,Arizona,"1,608,139","1,445,632",+11.24%,"1,341.6 km2","1,199/km2",33.57¬∞N 112.09¬∞W

### Players size

In [85]:
player_size.columns=[c.lower() for c in player_size.columns]

In [64]:
player_size.head()

,id,first_name,height_feet,height_inches,last_name,position,team,weight_pounds
0,14,Ike,NaN,NaN,Anigbogu,C,"{'id': 12, 'abbreviation': 'IND', 'city': 'Ind...",NaN
1,25,Ron,NaN,NaN,Baker,G,"{'id': 20, 'abbreviation': 'NYK', 'city': 'New...",NaN
2,47,Jabari,NaN,NaN,Bird,G,"{'id': 2, 'abbreviation': 'BOS', 'city': 'Bost...",NaN
3,67,MarShon,NaN,NaN,Brooks,G,"{'id': 15, 'abbreviation': 'MEM', 'city': 'Mem...",NaN
4,71,Lorenzo,NaN,NaN,Brown,G,"{'id': 28, 'abbreviation': 'TOR', 'city': 'Tor...",NaN