In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)  # es para enseñar todas las columnas del df
# pd.set_option('display.max_rows', None)     # es para enseñar todas las filas del df


import warnings
warnings.simplefilter('ignore')   # es para quitar warnings

import mysql.connector as conn
from sqlalchemy import create_engine

In [2]:
import mysql.connector as conn

In [3]:
import os
from dotenv import load_dotenv
load_dotenv() # Cargar lo que tengo dentro del .env

True

## Importo datos

In [4]:
# Importo todos los csv


games = pd.read_csv('../data/data_sql/games.csv')
games_detail = pd.read_csv('../data/data_sql/games_detail.csv')
players = pd.read_csv('../data/data_sql/players.csv')
teams = pd.read_csv('../data/data_sql/teams.csv')
cities = pd.read_csv('../data/data_sql/cities.csv')

## Crear base de datos (NBA Stats)

In [5]:
mysql = os.getenv("mysql")

In [6]:
# Conectar con el servidor

crea_db=conn.connect(host='localhost', user='root', passwd=mysql)

cursor=crea_db.cursor()



# str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306'        # Para sqlalchemy
# motor=create_engine(str_conn)

In [7]:
# Crear base de datos

cursor.execute('drop database if exists nba_stats;')
cursor.execute('create database nba_stats;')

In [8]:

db=conn.connect(host='localhost', user='root', passwd=mysql, database='nba_stats')

cursor=db.cursor()

#  str_conn='mysql+pymysql://root:'+mysql+'@localhost:3306/nba_stats'
# motor=create_engine(str_conn)

In [9]:
# Crear tabla 'cities'


cursor.execute('drop table if exists cities;')



tabla='''

        create table cities (
            
            city_id int PRIMARY KEY NOT NULL,
            city varchar(50),
            state varchar(50), 
            2020_census varchar(50),
            location varchar(50)

        );

'''

cursor.execute(tabla)

In [10]:
# Crear tabla 'teams'


cursor.execute('drop table if exists teams;')



tabla='''

        create table teams (

        team_id  int PRIMARY KEY NOT NULL,
        city_id int,
        city  varchar(50), 
        league_id int,
        min_year int,  
        max_year int,  
        abbreviation varchar(50),
        nickname varchar(50),
        yearfounded int,
        arena varchar(50),
        arenacapacity float,
        owner varchar(50),
        generalmanager varchar(50),
        headcoach varchar(50),
        dleagueaffiliation varchar(50),

        FOREIGN KEY (city_id) REFERENCES cities(city_id)

        );

'''
cursor.execute(tabla)

In [11]:
# Crear tabla 'players'


cursor.execute('drop table if exists players;')



tabla='''

        create table players (

            player_id int PRIMARY KEY NOT NULL,
            player_name varchar(50),
            team_id int,
            season int,
            position varchar(50),
            height_cm float,
            weight_kg float


        
        );

'''
cursor.execute(tabla)

In [12]:
# Crear tabla 'games'

cursor.execute('drop table if exists games;')



tabla='''

        create table games (

                game_id int PRIMARY KEY NOT NULL,
                game_date_est datetime,
                season int,
                team_id_home int, 
                pts_home float,
                fg_pct_home float,
                ft_pct_home float,
                fg3_pct_home float,
                ast_home float,
                reb_home float,
                team_id_away int,  
                pts_away float,
                fg_pct_away float,
                ft_pct_away float,
                fg3_pct_away float,
                ast_away float,
                reb_away float,
                home_team_wins int    
        
        );

'''
cursor.execute(tabla)

In [13]:
# Crear tabla 'games_details'

cursor.execute('drop table if exists games_details;')

tabla='''

        create table games_details (
  
            games_detail_id int PRIMARY KEY NOT NULL,                
            game_id int,
            team_id int,
            team_abbreviation varchar(50),
            team_city varchar(50),
            player_id int,
            player_name varchar(50),
            min float,
            fgm float,
            fga float,
            fg_pct float,
            fg3m float,
            fg3a float,
            fg3_pct float,
            ftm float,
            fta float,
            ft_pct float,
            oreb float,
            dreb float,
            reb float,
            ast float,
            stl float,
            blk float,
            turn float,
            pf float,
            pts float,
            plus_minus float


            -- FOREIGN KEY (player_id) REFERENCES players(player_id),             
            -- FOREIGN KEY (game_id) REFERENCES games(game_id),
            -- FOREIGN KEY (team_id) REFERENCES teams(team_id)
        
        );

'''
cursor.execute(tabla)

In [14]:
#  insert into tabla (columnas) values (valores);

def insert(df, table):

    for i in range(len(df)):
        
        insert_query=f"insert into {table} ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
        cursor.execute(insert_query)
    
    
    db.commit()
    print('Comiteado!')

In [15]:
# Cargo datos a 'games'

insert(games, 'games')

Comiteado!

In [16]:
# Cargo datos a 'cities'

insert(cities, 'cities')

Comiteado!

In [17]:
# Cargo datos a 'teams'

insert(teams, 'teams')

Comiteado!

In [18]:
# Cargo datos a 'player'

insert(players, 'players')

Comiteado!

In [19]:
# Cargo datos a 'games_detail' - REVISAR LOS FOREINGS KEYS

insert(games_detail, 'games_details')

Comiteado!